{% extends "main.html" %}

{% block css %}

<style>

    .profile-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;

    }
</style>

{% endblock css %}

{% comment %}
    This is showing the Dynaic nature of Template that we are reusing the Component.
{% endcomment %}
{% block body %}
    <p>{{user.username}}</p>
    <div class="profile-container">
        <div>
            {% include 'base/topic_component.html' %}
        </div>

        <div>

            {% include 'base/feed_component.html' %}
        </div>

        <div>
            {% include 'base/activity_component.html' %}
        </div>
    </div>
{% endblock body %}

